.slider {
    max-height: fit-content;
    width: 7em;
    background-color: rgba(255, 255, 255, 0.414);
    border-radius: 5em;
    position: absolute;
    right: 17%;
    bottom: 10%;
    padding: 1em;
  }

 .slider img {
    width: 100%;
    border-radius: 50%;
  }

  .margin-slider {
    margin-top: 1em;
  }

  .wereldbol2-active {
   
  }


  /* header/years css */

  .years h1 {
    position: absolute;
    color: white;
    top: 0;
    left: 50%;
  }